<h1>Listing <%=t "attcategory.attcategories"%></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for attcategory in @attcategories %>
  <tr>
    <td><%=h attcategory.name %></td>
    <td><%= link_to 'Show', attcategory %></td>
    <td><%= link_to 'Edit', edit_attcategory_path(attcategory) %></td>
    <td><%= link_to 'Destroy', attcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attcategory', new_attcategory_path %>
