<h1>Editing Attribute</h1>

<% form_for(@actattribute, :html => {:multipart => :true}) do |f| %>
  <%= f.error_messages %>

  <p>
  	<%= badge(@actattribute) %>
  </p>
  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
  	<%= f.label :image_file, "Upload new badge: " %>
	<%= f.file_field :image_file %>
	<%= f.hidden_field :image_file_temp %>
	<% if @actattribute.has_image? %>
	  <p>
	  	Uploaded Image:<br />
	  	<%= embedded_image_tag(@actattribute.operate { |img| img.resize 100 }) %>
	  </p>
	<% end %>
  </p>

  <p>
  	Category<br />
  	<% for category in Attcategory.find(:all) %>
	 <%= radio_button_tag "actattribute[attcategory_id]", category.id, category.actattributes.include?(@actattribute) %>
	 <%= f.label "attcategory_id_#{category.id}", category.name %>
	<% end %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @actattribute %> |
<%= link_to 'Back', actattributes_path %>
