<h1>Listing <%=t "attribute.attributes"%></h1>

<table>
<% for actattribute in @actattributes %>
  <tr>
	<td><%= badge(actattribute, :class => "badge_thumb") %></td>
	<td><%=h actattribute.attcategory.name if actattribute.attcategory %></td>
    <td><%= link_to 'Edit', edit_actattribute_path(actattribute) %></td>
    <td><%= link_to 'Destroy', actattribute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t(:New)+' '+I18n.t("attribute.attribute"), new_actattribute_path %>
