<h1>New <%=t :'attribute.attribute'%></h1>

<% form_for(@actattribute, :html => {:multipart => :true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
  	<%= f.label :image_file, "Upload badge:" %>
	<%= f.file_field :image_file %>
	<%= f.hidden_field :image_file_temp %>
	<% if @actattribute.has_image? %>
	  <p>
	  	Uploaded Image:<br />
	  	<%= embedded_image_tag(@actattribute.operate { |img| img.resize 100 }) %>
	  </p>
	<% end %>
  </p>
  
  <p>
  	Category<br />
	<% mark_selected = true # this will let us select the first category only %>
  	<% for category in Attcategory.find(:all) %>
	 <%= radio_button_tag "actattribute[attcategory_id]", category.id, mark_selected %>
	 <% mark_selected = false %>
	 <%= f.label "attcategory_id_#{category.id}", category.name %>
	<% end %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', actattributes_path %>
