<h1>New Attribute</h1>

<% form_for(@actattribute) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
  	<%= f.label :data_type %><br />
	<%= f.text_field :data_type%>
  </p>
  
  <p>
  	<%= f.label :data %><br />
	<%= f.text_field :data %>
  </p>
  
  <p>
  	Category<br />
	<% mark_selected = true # this will let us select the first category only %>
  	<% for category in Attcategory.find(:all) %>
	 <%= radio_button_tag "actattribute[attcategory_id]", category.id, mark_selected %>
	 <% mark_selected = false %>
	 <%= f.label "attcategory_id_#{category.id}", category.name %>
	<% end %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', actattributes_path %>
